USE [master]
GO
/****** Object:  Database [SQLInjection]    Script Date: 2/2/2018 7:18:42 PM ******/
CREATE DATABASE [SQLInjection]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLInjection', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SQLInjection.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLInjection_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SQLInjection_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLInjection].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLInjection]
GO
USE [SQLInjection]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 2/2/2018 7:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIO] ([ID], [Nombre], [Apellido], [Direccion], [Correo]) VALUES (N'111209323', N'Dennis', N'Cordoba', N'Escazu', N'dcordoba@ucenforec.ac.cr')
INSERT [dbo].[USUARIO] ([ID], [Nombre], [Apellido], [Direccion], [Correo]) VALUES (N'116810122', N'Gary', N'Valverde', N'San Sebastian', N'gary@spotme.com')
INSERT [dbo].[USUARIO] ([ID], [Nombre], [Apellido], [Direccion], [Correo]) VALUES (N'122323222', N'Juan', N'Valdez', N'Alajuelita', N'juvaldio2007@outlook.com')
USE [master]
GO
