@using WebAPP.Helpers;
@using WebAPP.Models.Controls.CtrlComboBoxModel;
@using Entities.Entities.ArchitectureEntities;
@using Entities.Entities;
@using System.Net.Http;

@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<link rel="stylesheet" href="~/Views/CoreScreen/HomeMenu/HomeMenu.css">
<script src="~/Views/CoreScreen/HomeMenu/HomeMenu.js"></script>

<div class="container">
    <div class="row title" align="center">
        <h1>Dashboard</h1>
    </div>
    <div id="hs-coming-soon" class="row">
        <div id="hs-square">
            <div id="coming-soon">
                <i class="fas fa-hourglass fa-5x"></i>
                <h1>Coming Soon</h1>
            </div>
        </div>
    </div>
</div>